.name {
    font-family:cursive;
    color:black;
    text-align: center;
    background-color: rgb(139, 212, 29);}

.name2{
    font-family:cursive; }

  body{background-color: rgb(24, 207, 24);}